<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News for You</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="app">
        <!-- Top heading section -->
        <section class="hero is-info is-bold">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title is-1">News for You</h1>
                    <h2 class="subtitle is-4">Top headlines for you!</h2>
                </div>
            </div>
        </section>

        <!-- Search and filter section -->
        <section class="search-section">
            <h2 class="search-title title is-4">Search by...</h2>
            <div class="search-fields">
                <div class="select is-info">
                    <label for="cathegory"></label>
                    <select class="select-box" v-model="inputCategory" name="" id="cathegory">
                        <option value="undefined" disabled selected>Category</option>
                        <option value="business">Business</option>
                        <option value="entertainment">Entertainment</option>
                        <option value="general">General</option>
                        <option value="health">Health</option>
                        <option value="science">Science</option>
                        <option value="sports">Sports</option>
                        <option value="technology">Technology</option>
                    </select>
                </div>
                <div class="select is-info">
                    <label for="country"></label>
                    <select  class="select-box" v-model="inputCountry" name="" id="country">
                        <option value="undefined" disabled selected>Country</option>
                        <option value="au">Australia</option>
                        <option value="ca">Canada</option>
                        <option value="gb">Great Britain</option>
                        <option value="fr">France</option>
                        <option value="in">India</option>
                        <option value="it">Italia</option>
                        <option value="jp">Japan</option>
                        <option value="mx">Mexico</option>
                        <option value="no">Norway</option>
                        <option value="ru">Russia</option>
                        <option value="se">Sweden</option>
                        <option value="us">USA</option>
                    </select>
                </div>
                <div class="phrase">
                    <input class="select-box select-box-phrase input is-info" v-model="inputPhrase" type="text" placeholder="Insert a phrase to look for">
                </div>
                <button @click="onSearch" class="button is-info"><i class="fas fa-search"></i></button>
            </div>
            <!-- radio for amount of articles shown -->
            <div class="control">
                <label class="radio">
                    <input type="radio" name="pageSize" value="10" v-model="pageSize">
                    10
                </label>
                <label class="radio">
                    <input type="radio" name="pageSize" value="25" v-model="pageSize">
                    25
                </label>
                <label class="radio">
                    <input type="radio" name="pageSize" value="50" v-model="pageSize"> <!-- checked by default because of value in js -->
                    50
                </label>
              </div>
        </section>

        <!-- News cards section -->
        <section class="articles-section">
            <div class="columns is-multiline">
                <div class="column is-one-fifth-fullhd is-one-quarter-desktop is-one-third-tablet is-full-mobile" v-for="(article, index) in articles" :key="index">
                    <!-- when no articles are available add info -->
                    <!-- news card start -->
                    <div class="card">
                        <div class="card-image">
                          <figure class="image">
                            <img class="article-image" v-if="article.urlToImage" v-bind:src="article.urlToImage" alt="Missing picture">
                            <i v-else class="fas fa-image"></i>
                          </figure>
                        </div>
                        <div class="card-content">
                          <div class="media">
                            <div class="media-content">
                              <p class="title is-4">{{article.title}}</p>
                              <p class="subtitle is-6">{{article.author}}</p>
                            </div>
                          </div>
                      
                          <div class="content">
                            {{article.description}}.
                            <a :href="article.url" target="_blank">Go to article</a>
                            <br>
                            <time datetime="2016-1-1">{{article.publishedAt}}</time>
                          </div>
                        </div>
                    </div>
                    <!-- news card end -->
                </div>
              </div>
        </section>
    </div>
        <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="src/main.js"></script>
</body>
</html>